<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= projectName%>-
      <%=name%>
  </title>
  <!--bower:css-->
  <link rel="stylesheet" href="../../../external-libs/client/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../external-libs/client/font-awesome/css/font-awesome.min.css" />
  <!--endbower-->
  <!--inject:css-->
  <link rel="stylesheet" href="/public/css/style.app.css">
  <!--endinject-->
</head>

<body class="container-fluid" data-spy="scroll" data-target=".navbar-default">
  <nav class="navbar navbar-default navbar-static">
    <div class="container-fluid">
      <% include ./nav.view.ejs%>
    </div>
    <!-- /.container-fluid -->
  </nav>

    <!--bower:js-->
    <script src="../../../external-libs/client/jquery/dist/jquery.js"></script>
    <script src="../../../external-libs/client/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
</body>

</html>