<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= projectName%>-
      <%=name%>
  </title>
  <!--bower:css-->
  <!--endbower-->
  <!--inject:css-->
  <!--endinject-->
</head>

<body class="container-fluid" data-spy="scroll" data-target=".navbar-default">
  <nav class="navbar navbar-default navbar-static">
    <div class="container-fluid">
      <% include ./nav.view.ejs%>
    </div>
    <!-- /.container-fluid -->
  </nav>

    <!--bower:js-->
    <!--endbower-->
</body>

</html>