<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <!--bower:css-->
      <link rel="stylesheet" href="../../external-libs/client/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="../../external-libs/client/bootstrap/dist/css/bootstrap.min.css" />
      <!--endbower-->
</head>
<body>
      <!--bower:js-->
      <script src="../../external-libs/client/jquery/dist/jquery.js"></script>
      <script src="../../external-libs/client/bootstrap/dist/js/bootstrap.js"></script>
      <!--endbower-->
</body>
</html>
